[submodule "content"]
	path = content
	url = https://github.com/Qitas/thinker.git
	branch = content
[submodule "live2d"]
	path = static/live2d
	url = https://github.com/Qitas/thinker.git
	branch = live2d
[submodule "LoveIt"]
	path = themes/LoveIt
	url = https://github.com/Qitas/thinker.git
	branch = LoveIt
