.home[posts] .summary {
  border-bottom: 2px dashed #dedede;
}

.active {
  font-weight: 900;
  color: #7a7a7a;
}

img[data-sizes="auto"] {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

sup[class="pages-sup"] {
  font-weight: lighter;
  color: #a9a9b3;
  font-size: 75%;
}

.friend.url {
  text-decoration: none !important;
  color: black;
}
.friend.logo {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-top: 14px !important;
  margin-left: 14px !important;
  background-color: #fff;
}
.friend.block.whole {
  height: 92px;
  margin: 5px;
  width: 31%;
  display: inline-block !important;
  border-radius: 5px;
  background: rgba(212, 235, 235, 0.5);
  /* box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2); */
}
.friend.block.whole:hover {
  background: rgba(87, 142, 224, 0.15);
}
/* .friend.block.whole:hover .friend.block.left img {
    transition: 0.9s !important;
    -webkit-transition: 0.9s !important;
    -moz-transition: 0.9s !important;
    -o-transition: 0.9s !important;
    -ms-transition: 0.9s !important;
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    -o-transform: rotate(360deg) !important;
    -ms-transform: rotate(360deg) !important;
} */
.friend.block.left {
  width: 92px;
  float: left;
}
.friend.block.left {
  margin-right: 2px;
}
.friend.block.right {
  margin-top: 18px;
  margin-right: 18px;
}
.friend.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.friend.info {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8em;
  color: #7a7a7a;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .friend.info,
  .friend.block.left img {
    display: none;
  }
  .friend.block.left {
    width: 84px;
    margin: auto;
  }
  .friend.block.whole {
    width: 45%;
  }
  .friend.block.right {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .friend.name {
    font-size: 14px;
  }
}

/* 打赏 */
article .post-reward {
  margin-top: 20px;
  padding-top: 40px;
  text-align: center;
  color: #acacac;
  border-top: 1px dashed #e6e6e6;
}

article .post-reward .reward-button {
  padding: 3px 7px;
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}

article .post-reward .reward-button:hover {
  color: #fefefe;
  background-color: #dedede;
  transition: 0.5s;
}

article .post-reward #reward:checked ~ .qr-code {
  display: block;
}

article .post-reward #reward:checked ~ .reward-button {
  display: none;
}

article .post-reward .qr-code {
  display: none;
}

article .post-reward .qr-code .qr-code-image {
  display: inline-block;
  min-width: 200px;
  width: 40%;
  margin-top: 15px;
}

article .post-reward .qr-code .qr-code-image span {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
}

article .post-reward .qr-code .image {
  width: 200px;
  height: 200px;
}
